@model Web.Models.ViewModels.DrugInformationPageModel
@using Web.Models.ViewModels

@{
    ViewData["Title"] = "DrugInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* // TODO - REMOVE NAVBAR*@
<partial name="~/Views/Shared/_NavbarPartial.cshtml" for="NavbarModel" />

<main>

    <div class="container-fluid">
        <h1 class="mt-4">Drug Information</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="patient?nurseId=@Model.NavbarModel.NurseId&patientId=@Model.PatientId">Patient Name @Model.PatientName</a></li>
            <li class="breadcrumb-item active">Drug Information</li>
        </ol>
    </div>

    <div class="container-fluid">

        <h1 class="mt-4">@Model.DrugName</h1>

        <div class="card mb-4">
            <div class="card-header bg-primary text-white">
                <strong>@Model.PatientName Chad Chadwicks's Prescription</strong>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-4 themed-grid-col text-primary"><h5>DOSAGE</h5></div>
                    <div class="col-4 themed-grid-col text-primary"><h5>ROUTE</h5></div>
                    <div class="col-4 themed-grid-col text-primary"><h5>INDICATION</h5></div>
                </div>
                <div class="row">
                    <div class="col-4 themed-grid-col">@Model.Dosage</div>
                    <div class="col-4 themed-grid-col">@Model.Route</div>
                    <div class="col-4 themed-grid-col">@Model.Indication</div>
                </div>
                <hr class="my-3">
                <div class="row">
                    <div class="col-8 themed-grid-col text-primary"><h5>PRESCRIBED BY</h5></div>
                    <div class="col-4 themed-grid-col text-primary"><h5>MAX FREQ.</h5></div>
                </div>
                <div class="row">
                    <div class="col-8 themed-grid-col">Dr. Mantis Toboggan</div>
                    <div class="col-4 themed-grid-col">@Model.MaxFrequency</div>
                </div>
                <hr class="my-3">
                <div class="row">
                    <div class="col-12 themed-grid-col text-primary"><h5>NOTES</h5></div>
                </div>
                <div class="row">
                    <div class="col-8 themed-grid-col">Take following meal. @Model.Notes</div>
                </div>

            </div>
            <div class="card-body">
                <p class="mb-0"></p>
            </div>
        </div>

        <!--Perscription History Table-->
        <div class="card mb-4">
            <div class="card-header bg-primary text-white">
                <strong>@Model.DrugName Administration History</strong>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-sm text-center text-primary">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Dose</th>
                            <th>Given By</th>
                            <th>Batch</th>
                            <th>Expiry</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            for (int i = 0; i < Model.PastAdministrationModels.Count; i++)
                            {
                                <tr>
                                    <td>@Model.PastAdministrationModels[i].DateTime.ToShortDateString()</td>
                                    <td>@Model.PastAdministrationModels[i].DateTime.ToShortTimeString()</td>
                                    <td>@Model.PastAdministrationModels[i].Dosage mg</td>
                                    <td>@Model.PastAdministrationModels[i].AdministeringNurse</td>
                                    <td>@Model.PastAdministrationModels[i].BatchNumber</td>
                                    <td>@Model.PastAdministrationModels[i].ExpirationDate.ToShortDateString()</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</main>

<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; Sample Website 2020</div>
            <div>
                <a href="#">Privacy Policy</a>
                &middot;
                <a href="#">Terms &amp; Conditions</a>
            </div>
        </div>
    </div>
</footer>

<script src="~/js/scripts.js"></script>