@model Web.Models.ViewModels.AdministrationVerificationModel
@using Web.EntityData
@{
    ViewData["Title"] = "Administration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <main>
        <div class="container-fluid">
            <h1 class="mt-4">Administration Confirmation</h1>
        </div>

        <div class="container-fluid">
            <div class="card sm-4">
                <div class="card-header bg-primary text-white">
                    <i class="fas fa-exclamation-triangle"></i>
                    Confirmation
                </div>
                <div class="card-body text-center">
                    <h3>
                        This is confirmation that <strong>@Model.Dosage mg</strong> of <strong>@Model.MedicationName</strong>
                        was administered to <strong>@Model.PatientFirstName @Model.PatientLastName</strong>, <small>@Model.PatientDateOfBirth.ToShortDateString()</small>,
                        at <strong>@Model.CurrentTime</strong>.
                    </h3>
                    <hr />
                    <h4 class="text-right">
                       by <strong>@Model.NavbarModel.NurseFirstName @Model.NavbarModel.NurseLastName</strong>
                    </h4>
                    

                </div>

                <div class="card-footer text-muted">
                    <div class="row align-content-md-between">

                        <div class="col-sm-6 flex-center">
                            <a href="/patient?patientId=@Model.PatientId" class="btn btn-danger">
                                <i class="fas fa-times-circle"></i>
                                Cancel
                            </a>
                        </div>

                        <div class="col-sm-6 flex-center">
                            <form asp-controller="Administration" asp-action="Confirm" method="post">
                                <input type="hidden" id="odfId" name="odfId" value=@Model.OdfId>
                                <input type="hidden" id="administrationTime" name="administrationTime" value=@Model.CurrentTime>

                                <button type="submit" class="btn btn-success">
                                    <i class="fas fa-check-circle"></i>
                                    Verify
                                </button>

                            </form>
                        </div>
                    </div>
                      
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <br />
            By clicking submit you are confirming that the following prescription is being administered to the afformentioned patient.
            Your name will be logged and associated with the administration history of this prescription and you may be held accountable for any mistakes made with this administration.
            Please ensure that the prescription information is valid and patient details are correct as any error made will be associated with your name. 
            If you are unsure select cancel to be redirected to the patient page.
            <br /> 
            <br />
        </div>

    </main>

        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Sample Website 2020</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>