@model Web.Models.ViewModels.DrugInformationPageModel
@using Web.Models.ViewModels

@{
    ViewData["Title"] = "DrugInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="~/Views/Shared/_NavbarPartial.cshtml" for="NavbarModel" />

<div id="layoutSidenav">

    <partial name="~/Views/Shared/_SidebarPartial.cshtml" for="NavbarModel" />

    <div id="layoutSidenav_content">

        <main>
            <br />
            <div class="container-fluid">

                <div class="row">
                    <div class="col-4 text-center">
                        <h1 class="mt-4">
                            <strong>@Model.DrugName</strong> <small>(@Model.PatientName)</small>
                            <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="img/undraw_medicine_b1ol.svg" alt="">
                        </h1>
                    </div>
                    <div class="col-8">
                        <div class="card mb-4">
                            <a href="#collapsePerscription" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapsePerscription">
                                <h6 class="m-0">
                                    <i class="fas fa-notes-medical"></i>
                                    @Model.PatientName's @Model.DrugName Prescription
                                </h6>
                            </a>

                            <div class="collapse show" id="collapsePerscription">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th><i class="fas fa-mortar-pestle"></i> Dosage</th>
                                                <th><i class="fas fa-tablets"></i> Route</th>
                                                <th><i class="fas fa-stethoscope"></i> Indication</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>@Model.Dosage</td>
                                                <td>@Model.Route</td>
                                                <td>@Model.Indication</td>
                                            </tr>
                                        </tbody>
                                        <thead class="thead-dark">
                                            <tr>
                                                <th colspan="2"><i class="fas fa-user-md"></i> Prescribed By</th>
                                                <th><i class="fas fa-clock"></i> Frequency</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="2"> @Model.Prescriber</td>
                                                <td>@Model.Frequency</td>
                                            </tr>
                                        </tbody>
                                        <thead class="thead-dark">
                                            <tr>
                                                <th colspan="3"><i class="fas fa-comment-medical"></i> Notes</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="3"> @Model.Notes</td>
                                            </tr>
                                        </tbody>
                                    </table>
   
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!--Perscription History Table-->
                <div class="card mb-4">
                    <a href="#collapseHistory" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseHistory">
                        <h6 class="m-0">
                            <i class="fas fa-prescription-bottle-alt"></i>
                            @Model.DrugName Administration History
                        </h6>

                    </a>
                    <div class="collapse show" id="collapseHistory">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Date</th>
                                        <th>Time</th>
                                        <th>Dose</th>
                                        <th>Given By</th>
                                        <th>Batch</th>
                                        <th>Expiry</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        for (int i = 0; i < Model.PastAdministrationModels.Count; i++)
                                        {
                                            <tr>
                                                <td>@Model.PastAdministrationModels[i].DateTime.ToShortDateString()</td>
                                                <td>@Model.PastAdministrationModels[i].DateTime.ToShortTimeString()</td>
                                                <td>@Model.PastAdministrationModels[i].Dosage mg</td>
                                                <td>@Model.PastAdministrationModels[i].AdministeringNurse</td>
                                                <td>@Model.PastAdministrationModels[i].BatchNumber</td>
                                                <td>@Model.PastAdministrationModels[i].ExpirationDate.ToShortDateString()</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </main>

        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Sample Website 2020</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>

        <script src="~/js/scripts.js"></script>
    </div>
</div>

