@model Web.Models.ViewModels.DrugInformationPageModel
@using Web.Models.ViewModels

@{
    ViewData["Title"] = "DrugInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="~/Views/Shared/_NavbarPartial.cshtml" for="NavbarModel" />

<div id="layoutSidenav">

    <partial name="~/Views/Shared/_SidebarPartial.cshtml" for="NavbarModel" />

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">

                <h1 class="mt-4">@Model.DrugName</h1>

                <div class="card mb-4">
                    <div class="card-header bg-primary text-white">
                        <strong>@Model.PatientName's Prescription</strong>
                    </div>

                    <div class="card-body">
                        <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Dosage</th>
                                    <th>Route</th>
                                    <th>Indication</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@Model.Dosage</td>
                                    <td>@Model.Route</td>
                                    <td>@Model.Indication</td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Prescribed By</th>
                                    <th>Max Frequency</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td> NEED ADDED TO MODEL</td>
                                    <td>@Model.MaxFrequency</td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Notes</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td> @Model.Notes</td>
                                </tr>
                            </tbody>
                        </table>   
                    </div>
                </div>

                <!--Perscription History Table-->
                <div class="card mb-4">
                    <div class="card-header bg-primary text-white">
                        <strong>@Model.DrugName Administration History</strong>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>Dose</th>
                                    <th>Given By</th>
                                    <th>Batch</th>
                                    <th>Expiry</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    for (int i = 0; i < Model.PastAdministrationModels.Count; i++)
                                    {
                                        <tr>
                                            <td>@Model.PastAdministrationModels[i].DateTime.ToShortDateString()</td>
                                            <td>@Model.PastAdministrationModels[i].DateTime.ToShortTimeString()</td>
                                            <td>@Model.PastAdministrationModels[i].Dosage mg</td>
                                            <td>@Model.PastAdministrationModels[i].AdministeringNurse</td>
                                            <td>@Model.PastAdministrationModels[i].BatchNumber</td>
                                            <td>@Model.PastAdministrationModels[i].ExpirationDate.ToShortDateString()</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </main>

        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Sample Website 2020</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>

        <script src="~/js/scripts.js"></script>
    </div>
</div>

