@model Web.Models.ViewModels.PrintScheduleModel
@using Web.Models.ViewModels
@{
    ViewData["Title"] = "PrintSchedule";
}

<partial name="~/Views/Shared/_NavbarPartial.cshtml" for="NavbarModel" />

<div id="layoutSidenav">

    <partial name="~/Views/Shared/_SidebarPartial.cshtml" for="NavbarModel" />

    <div id="layoutSidenav_content">
        <main>
            <br />
            <div class="container-fluid">
                <h1 class="mt-4">Schedule</h1>
                <div class="card text-center">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" href="">Today</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Week</a>
                            </li>
                        </ul>
                    </div>
                    <br />

                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" data-sort-name=" ">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Monday</th>
                                    <th>Tuesday</th>
                                    <th>Wednesday</th>
                                    <th>Thursday</th>
                                    <th>Friday</th>
                                    <th>Saturday</th>
                                    <th>Sunday</th>
                                </tr>
                            </thead>
                            <tbody>
                            <td>
                                @if (Model.Day.Equals("Monday"))
                                {
                                    {
                                        @for (int i = 0; i < Model.QueuedBatches.Count; i++)
                                        {
                                            if (Model.QueuedBatches[i].Status.Equals("2"))
                                            {
                                                <!-- Dispensed Batches Card -->
                                                <div class="col">
                                                    <div class="card border-left-success shadow">
                                                        <div class="card-body">
                                                            <div class="row no-gutters align-items-center">
                                                                <div class="col-auto">
                                                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Dispensed</div>
                                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.QueuedBatches[i].BatchNumber</div>
                                                                </div>
                                                                <div class="col-auto">
                                                                    <i class="fas fa-play-circle fa-2x text-gray-300"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            else if (Model.QueuedBatches[i].Status.Equals("3"))
                                            {
                                                <!-- Printing Batches Card -->
                                                <div class="col">
                                                    <div class="card border-left-warning shadow">
                                                        <div class="card-body">
                                                            <div class="row no-gutters align-items-center">
                                                                <div class="col mr-2">
                                                                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Printing</div>
                                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.QueuedBatches[i].BatchNumber</div>
                                                                    <div class="h6 mb-0 text-gray-800">@Model.QueuedBatches[i].ETA</div>
                                                                </div>
                                                                <div class="col-auto">
                                                                    <i class="fas fa-clock fa-2x text-gray-300"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <!-- Pending Batches Card -->
                                                <div class="col">
                                                    <div class="card border-left-danger shadow">
                                                        <div class="card-body">
                                                            <div class="row no-gutters align-items-center">
                                                                <div class="col mr-2">
                                                                    <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Pending</div>
                                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.QueuedBatches[i].BatchNumber</div>
                                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.QueuedBatches[i].Status</div>
                                                                </div>
                                                                <div class="col-auto">
                                                                    <i class="fas fa-pause-circle fa-2x text-gray-300"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    }
                                }
                            </td>

                            <td>
                                @if (Model.Day.Equals("Tuesday"))
                                {
                                    @for (int i = 0; i < Model.QueuedBatches.Count; i++)
                                    {
                                        if (Model.QueuedBatches[i].Status.Equals("2"))
                                        {
                                            <!-- Dispensed Batches Card -->
                                            <div class="col">
                                                <div class="card border-left-success shadow">
                                                    <div class="card-body">
                                                        <div class="row no-gutters align-items-center">
                                                            <div class="col-auto">
                                                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Dispensed</div>
                                                                <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.QueuedBatches[i].BatchNumber</div>
                                                            </div>
                                                            <div class="col-auto">
                                                                <i class="fas fa-play-circle fa-2x text-gray-300"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        else if (Model.QueuedBatches[i].Status.Equals("3"))
                                        {
                                            <!-- Printing Batches Card -->
                                            <div class="col">
                                                <div class="card border-left-warning shadow">
                                                    <div class="card-body">
                                                        <div class="row no-gutters align-items-center">
                                                            <div class="col mr-2">
                                                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Printing</div>
                                                                <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.QueuedBatches[i].BatchNumber</div>
                                                                <div class="h6 mb-0 text-gray-800">@Model.QueuedBatches[i].ETA</div>
                                                            </div>
                                                            <div class="col-auto">
                                                                <i class="fas fa-clock fa-2x text-gray-300"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <!-- Pending Batches Card -->
                                            <div class="col">
                                                <div class="card border-left-danger shadow">
                                                    <div class="card-body">
                                                        <div class="row no-gutters align-items-center">
                                                            <div class="col mr-2">
                                                                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Pending</div>
                                                                <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.QueuedBatches[i].BatchNumber</div>
                                                                <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.QueuedBatches[i].Status</div>
                                                            </div>
                                                            <div class="col-auto">
                                                                <i class="fas fa-pause-circle fa-2x text-gray-300"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                }
                            </td>

                            <td>
                                @if (Model.Day.Equals("Wednesday"))
                                {
                                    {
                                        @for (int i = 0; i < Model.QueuedBatches.Count; i++)
                                        {
                                            if (Model.QueuedBatches[i].Status.Equals("2"))
                                            {
                                                <!-- Dispensed Batches Card -->
                                                <div class="col">
                                                    <div class="card border-left-success shadow">
                                                        <div class="card-body">
                                                            <div class="row no-gutters align-items-center">
                                                                <div class="col-auto">
                                                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Dispensed</div>
                                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.QueuedBatches[i].BatchNumber</div>
                                                                </div>
                                                                <div class="col-auto">
                                                                    <i class="fas fa-play-circle fa-2x text-gray-300"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            else if (Model.QueuedBatches[i].Status.Equals("3"))
                                            {
                                                <!-- Printing Batches Card -->
                                                <div class="col">
                                                    <div class="card border-left-warning shadow">
                                                        <div class="card-body">
                                                            <div class="row no-gutters align-items-center">
                                                                <div class="col mr-2">
                                                                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Printing</div>
                                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.QueuedBatches[i].BatchNumber</div>
                                                                    <div class="h6 mb-0 text-gray-800">@Model.QueuedBatches[i].ETA</div>
                                                                </div>
                                                                <div class="col-auto">
                                                                    <i class="fas fa-clock fa-2x text-gray-300"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <!-- Pending Batches Card -->
                                                <div class="col">
                                                    <div class="card border-left-danger shadow">
                                                        <div class="card-body">
                                                            <div class="row no-gutters align-items-center">
                                                                <div class="col mr-2">
                                                                    <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Pending</div>
                                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.QueuedBatches[i].BatchNumber</div>
                                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.QueuedBatches[i].Status</div>
                                                                </div>
                                                                <div class="col-auto">
                                                                    <i class="fas fa-pause-circle fa-2x text-gray-300"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    }
                                }
                                </td>

                            <td>
                                @if (Model.Day.Equals("Thursday"))
                                {
                                    {
                                        @for (int i = 0; i < Model.QueuedBatches.Count; i++)
                                        {
                                            if (Model.QueuedBatches[i].Status.Equals("2"))
                                            {
                                                <!-- Dispensed Batches Card -->
                                                <div class="col">
                                                    <div class="card border-left-success shadow">
                                                        <div class="card-body">
                                                            <div class="row no-gutters align-items-center">
                                                                <div class="col-auto">
                                                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Dispensed</div>
                                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.QueuedBatches[i].BatchNumber</div>
                                                                </div>
                                                                <div class="col-auto">
                                                                    <i class="fas fa-play-circle fa-2x text-gray-300"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            else if (Model.QueuedBatches[i].Status.Equals("3"))
                                            {
                                                <!-- Printing Batches Card -->
                                                <div class="col">
                                                    <div class="card border-left-warning shadow">
                                                        <div class="card-body">
                                                            <div class="row no-gutters align-items-center">
                                                                <div class="col mr-2">
                                                                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Printing</div>
                                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.QueuedBatches[i].BatchNumber</div>
                                                                    <div class="h6 mb-0 text-gray-800">@Model.QueuedBatches[i].ETA</div>
                                                                </div>
                                                                <div class="col-auto">
                                                                    <i class="fas fa-clock fa-2x text-gray-300"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <!-- Pending Batches Card -->
                                                <div class="col">
                                                    <div class="card border-left-danger shadow">
                                                        <div class="card-body">
                                                            <div class="row no-gutters align-items-center">
                                                                <div class="col mr-2">
                                                                    <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Pending</div>
                                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.QueuedBatches[i].BatchNumber</div>
                                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.QueuedBatches[i].Status</div>
                                                                </div>
                                                                <div class="col-auto">
                                                                    <i class="fas fa-pause-circle fa-2x text-gray-300"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    }
                                }
                            </td>

                            <td>
                                @if (Model.Day.Equals("Friday"))
                                {
                                    {
                                        @for (int i = 0; i < Model.QueuedBatches.Count; i++)
                                        {
                                            if (Model.QueuedBatches[i].Status.Equals("2"))
                                            {
                                                <!-- Dispensed Batches Card -->
                                                <div class="col">
                                                    <div class="card border-left-success shadow">
                                                        <div class="card-body">
                                                            <div class="row no-gutters align-items-center">
                                                                <div class="col-auto">
                                                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Dispensed</div>
                                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.QueuedBatches[i].BatchNumber</div>
                                                                </div>
                                                                <div class="col-auto">
                                                                    <i class="fas fa-play-circle fa-2x text-gray-300"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            else if (Model.QueuedBatches[i].Status.Equals("3"))
                                            {
                                                <!-- Printing Batches Card -->
                                                <div class="col">
                                                    <div class="card border-left-warning shadow">
                                                        <div class="card-body">
                                                            <div class="row no-gutters align-items-center">
                                                                <div class="col mr-2">
                                                                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Printing</div>
                                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.QueuedBatches[i].BatchNumber</div>
                                                                    <div class="h6 mb-0 text-gray-800">@Model.QueuedBatches[i].ETA</div>
                                                                </div>
                                                                <div class="col-auto">
                                                                    <i class="fas fa-clock fa-2x text-gray-300"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <!-- Pending Batches Card -->
                                                <div class="col">
                                                    <div class="card border-left-danger shadow">
                                                        <div class="card-body">
                                                            <div class="row no-gutters align-items-center">
                                                                <div class="col mr-2">
                                                                    <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Pending</div>
                                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.QueuedBatches[i].BatchNumber</div>
                                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.QueuedBatches[i].Status</div>
                                                                </div>
                                                                <div class="col-auto">
                                                                    <i class="fas fa-pause-circle fa-2x text-gray-300"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    }
                                }
                            </td>

                            <td>
                                @if (Model.Day.Equals("Saturday"))
                                {
                                    {
                                        @for (int i = 0; i < Model.QueuedBatches.Count; i++)
                                        {
                                            if (Model.QueuedBatches[i].Status.Equals("2"))
                                            {
                                                <!-- Dispensed Batches Card -->
                                                <div class="col">
                                                    <div class="card border-left-success shadow">
                                                        <div class="card-body">
                                                            <div class="row no-gutters align-items-center">
                                                                <div class="col-auto">
                                                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Dispensed</div>
                                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.QueuedBatches[i].BatchNumber</div>
                                                                </div>
                                                                <div class="col-auto">
                                                                    <i class="fas fa-play-circle fa-2x text-gray-300"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            else if (Model.QueuedBatches[i].Status.Equals("3"))
                                            {
                                                <!-- Printing Batches Card -->
                                                <div class="col">
                                                    <div class="card border-left-warning shadow">
                                                        <div class="card-body">
                                                            <div class="row no-gutters align-items-center">
                                                                <div class="col mr-2">
                                                                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Printing</div>
                                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.QueuedBatches[i].BatchNumber</div>
                                                                    <div class="h6 mb-0 text-gray-800">@Model.QueuedBatches[i].ETA</div>
                                                                </div>
                                                                <div class="col-auto">
                                                                    <i class="fas fa-clock fa-2x text-gray-300"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <!-- Pending Batches Card -->
                                                <div class="col">
                                                    <div class="card border-left-danger shadow">
                                                        <div class="card-body">
                                                            <div class="row no-gutters align-items-center">
                                                                <div class="col mr-2">
                                                                    <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Pending</div>
                                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.QueuedBatches[i].BatchNumber</div>
                                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.QueuedBatches[i].Status</div>
                                                                </div>
                                                                <div class="col-auto">
                                                                    <i class="fas fa-pause-circle fa-2x text-gray-300"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    }
                                }
                            </td>

                            <td>
                                @if (Model.Day.Equals("Sunday"))
                                {
                                    {
                                        @for (int i = 0; i < Model.QueuedBatches.Count; i++)
                                        {
                                            if (Model.QueuedBatches[i].Status.Equals("2"))
                                            {
                                                <!-- Dispensed Batches Card -->
                                                <div class="col">
                                                    <div class="card border-left-success shadow">
                                                        <div class="card-body">
                                                            <div class="row no-gutters align-items-center">
                                                                <div class="col-auto">
                                                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Dispensed</div>
                                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.QueuedBatches[i].BatchNumber</div>
                                                                </div>
                                                                <div class="col-auto">
                                                                    <i class="fas fa-play-circle fa-2x text-gray-300"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            else if (Model.QueuedBatches[i].Status.Equals("3"))
                                            {
                                                <!-- Printing Batches Card -->
                                                <div class="col">
                                                    <div class="card border-left-warning shadow">
                                                        <div class="card-body">
                                                            <div class="row no-gutters align-items-center">
                                                                <div class="col mr-2">
                                                                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Printing</div>
                                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.QueuedBatches[i].BatchNumber</div>
                                                                    <div class="h6 mb-0 text-gray-800">@Model.QueuedBatches[i].ETA</div>
                                                                </div>
                                                                <div class="col-auto">
                                                                    <i class="fas fa-clock fa-2x text-gray-300"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <!-- Pending Batches Card -->
                                                <div class="col">
                                                    <div class="card border-left-danger shadow">
                                                        <div class="card-body">
                                                            <div class="row no-gutters align-items-center">
                                                                <div class="col mr-2">
                                                                    <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Pending</div>
                                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.QueuedBatches[i].BatchNumber</div>
                                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.QueuedBatches[i].Status</div>
                                                                </div>
                                                                <div class="col-auto">
                                                                    <i class="fas fa-pause-circle fa-2x text-gray-300"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    }
                                }
                            </td>
                            </tbody>
                        </table>
                    </div>

                    <div class="row-md">

                    </div>




                </div>

            </div>
        </main>

        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Sample Website 2020</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
