@model Web.Models.ViewModels.PrintScheduleModel
@using Web.Models.ViewModels
@{
    ViewData["Title"] = "PrintSchedule";
}

<partial name="~/Views/Shared/_NavbarPartial.cshtml" for="NavbarModel" />

<div id="layoutSidenav">

    <partial name="~/Views/Shared/_SidebarPartial.cshtml" for="NavbarModel" />

    <div id="layoutSidenav_content">
        <main>
            <br />
            <div class="container-fluid">
                <h1 class="mt-4 mb-3">Schedule</h1>
                <hr />
                <div class="card text-center">
                    <div class="card-header bg-dark">
                        <ul class="nav nav-tabs  card-header-tabs" id="printScheduleTabs" role="tabList">
                            <li class="nav-item">
                                <a class="nav-link active" id="today-tab" data-toggle="tab" href="#today" role="tab" aria-controls="today" aria-selected="true">
                                    <h6>@Model.ScheduleDays[Model.Today].Day</h6>
                                </a>
                            </li>
                            @for (int i = 0; i < Enum.GetValues(typeof(DayOfWeek)).Length; i++)
                            {
                                @if ((DayOfWeek)i != Model.Today)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" id="day\@i-tab" data-toggle="tab" href="#day\@i" role="tab" aria-controls="day\@i" aria-selected="false">
                                            <h6>@Model.ScheduleDays[(DayOfWeek)i].Day</h6>
                                        </a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>

                    <div class="row-md m-5">
                        <div class="tab-content" id="printScheduleTabsContent">
                            <div class="tab-pane fade show active" id="today" role="tabpanel" aria-labelledby="today-tab">
                                @for (int i = 0; i < Model.ScheduleDays[Model.Today].QueuedBatches.Count; i++)
                                {
                                    if (Model.ScheduleDays[Model.Today].QueuedBatches[i].Status.Equals("2"))
                                    {
                                        <!-- Dispensed Batches Card -->
                                        <div class="col">
                                            <div class="card border-left-success shadow">
                                                <div class="card-body">
                                                    <div class="row no-gutters align-items-center">
                                                        <div class="col-auto">
                                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Dispensed</div>
                                                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.ScheduleDays[Model.Today].QueuedBatches[i].BatchNumber</div>
                                                        </div>
                                                        <div class="col-auto">
                                                            <i class="fas fa-play-circle fa-2x text-gray-300"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else if (Model.ScheduleDays[Model.Today].QueuedBatches[i].Status.Equals("3"))
                                    {
                                        <!-- Printing Batches Card -->
                                        <div class="col">
                                            <div class="card border-left-warning shadow">
                                                <div class="card-body">
                                                    <div class="row no-gutters align-items-center">
                                                        <div class="col mr-2">
                                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Printing</div>
                                                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.ScheduleDays[Model.Today].QueuedBatches[i].BatchNumber</div>
                                                            <div class="h6 mb-0 text-gray-800">@Model.ScheduleDays[Model.Today].QueuedBatches[i].ETA</div>
                                                        </div>
                                                        <div class="col-auto">
                                                            <i class="fas fa-clock fa-2x text-gray-300"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <!-- Pending Batches Card -->
                                        <div class="col">
                                            <div class="card border-left-danger shadow">
                                                <div class="card-body">
                                                    <div class="row no-gutters align-items-center">
                                                        <div class="col mr-2">
                                                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Pending</div>
                                                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.ScheduleDays[Model.Today].QueuedBatches[i].BatchNumber</div>
                                                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.ScheduleDays[Model.Today].QueuedBatches[i].Status</div>
                                                        </div>
                                                        <div class="col-auto">
                                                            <i class="fas fa-pause-circle fa-2x text-gray-300"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }

                            </div>
                            <div class="tab-pane fade" id="day1" role="tabpanel" aria-labelledby="day1-tab">
                                @for (int i = 0; i < Model.ScheduleDays[Model.Today].QueuedBatches.Count; i++)
                                {
                                    if (Model.ScheduleDays[(DayOfWeek)1].QueuedBatches[i].Status.Equals("2"))
                                    {
                                        <!-- Dispensed Batches Card -->
                                        <div class="col">
                                            <div class="card border-left-success shadow">
                                                <div class="card-body">
                                                    <div class="row no-gutters align-items-center">
                                                        <div class="col-auto">
                                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Dispensed</div>
                                                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.ScheduleDays[(DayOfWeek)1].QueuedBatches[i].BatchNumber</div>
                                                        </div>
                                                        <div class="col-auto">
                                                            <i class="fas fa-play-circle fa-2x text-gray-300"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else if (Model.ScheduleDays[(DayOfWeek)1].QueuedBatches[i].Status.Equals("3"))
                                    {
                                        <!-- Printing Batches Card -->
                                        <div class="col">
                                            <div class="card border-left-warning shadow">
                                                <div class="card-body">
                                                    <div class="row no-gutters align-items-center">
                                                        <div class="col mr-2">
                                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Printing</div>
                                                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.ScheduleDays[(DayOfWeek)1].QueuedBatches[i].BatchNumber</div>
                                                            <div class="h6 mb-0 text-gray-800">@Model.ScheduleDays[(DayOfWeek)1].QueuedBatches[i].ETA</div>
                                                        </div>
                                                        <div class="col-auto">
                                                            <i class="fas fa-clock fa-2x text-gray-300"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <!-- Pending Batches Card -->
                                        <div class="col">
                                            <div class="card border-left-danger shadow">
                                                <div class="card-body">
                                                    <div class="row no-gutters align-items-center">
                                                        <div class="col mr-2">
                                                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Pending</div>
                                                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.ScheduleDays[(DayOfWeek)1].QueuedBatches[i].BatchNumber</div>
                                                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.ScheduleDays[(DayOfWeek)1].QueuedBatches[i].Status</div>
                                                        </div>
                                                        <div class="col-auto">
                                                            <i class="fas fa-pause-circle fa-2x text-gray-300"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }

                            </div>
                            <div class="tab-pane fade" id="day2" role="tabpanel" aria-labelledby="day2-tab">
                                @for (int i = 0; i < Model.ScheduleDays[(DayOfWeek)2].QueuedBatches.Count; i++)
                                {
                                    if (Model.ScheduleDays[(DayOfWeek)2].QueuedBatches[i].Status.Equals("2"))
                                    {
                                        <!-- Dispensed Batches Card -->
                                        <div class="col">
                                            <div class="card border-left-success shadow">
                                                <div class="card-body">
                                                    <div class="row no-gutters align-items-center">
                                                        <div class="col-auto">
                                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Dispensed</div>
                                                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.ScheduleDays[(DayOfWeek)2].QueuedBatches[i].BatchNumber</div>
                                                        </div>
                                                        <div class="col-auto">
                                                            <i class="fas fa-play-circle fa-2x text-gray-300"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else if (Model.ScheduleDays[(DayOfWeek)2].QueuedBatches[i].Status.Equals("3"))
                                    {
                                        <!-- Printing Batches Card -->
                                        <div class="col">
                                            <div class="card border-left-warning shadow">
                                                <div class="card-body">
                                                    <div class="row no-gutters align-items-center">
                                                        <div class="col mr-2">
                                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Printing</div>
                                                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.ScheduleDays[(DayOfWeek)2].QueuedBatches[i].BatchNumber</div>
                                                            <div class="h6 mb-0 text-gray-800">@Model.ScheduleDays[(DayOfWeek)2].QueuedBatches[i].ETA</div>
                                                        </div>
                                                        <div class="col-auto">
                                                            <i class="fas fa-clock fa-2x text-gray-300"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <!-- Pending Batches Card -->
                                        <div class="col">
                                            <div class="card border-left-danger shadow">
                                                <div class="card-body">
                                                    <div class="row no-gutters align-items-center">
                                                        <div class="col mr-2">
                                                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Pending</div>
                                                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.ScheduleDays[(DayOfWeek)2].QueuedBatches[i].BatchNumber</div>
                                                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.ScheduleDays[(DayOfWeek)2].QueuedBatches[i].Status</div>
                                                        </div>
                                                        <div class="col-auto">
                                                            <i class="fas fa-pause-circle fa-2x text-gray-300"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
        </main>

        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Sample Website 2020</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
