@model Web.Models.ViewModels.PrintScheduleModel
@using Web.Models.ViewModels
@{
    ViewData["Title"] = "PrintSchedule";
}

<partial name="~/Views/Shared/_NavbarPartial.cshtml" for="NavbarModel" />

<div id="layoutSidenav">

    <partial name="~/Views/Shared/_SidebarPartial.cshtml" for="NavbarModel" />

    <div id="layoutSidenav_content">
        <main>
            <br />
            <div class="container-fluid">
                <h1 class="mt-4 mb-3">Schedule</h1>
                <div class="card text-center">
                    <div class="card-header bg-dark">
                        <ul class="nav nav-tabs  card-header-tabs" id="printScheduleTabs" role="tabList">
                            <li class="nav-item">
                                <a class="nav-link active" id="today-tab" data-toggle="tab" href="#today" role="tab" aria-controls="today" aria-selected="true">
                                    <h6>@Model.Day @Model.Date</h6>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="day1-tab" data-toggle="tab" href="#day1" role="tab" aria-controls="day1" aria-selected="false">
                                    <h6>@Model.WeekDays[1].Item1 @Model.WeekDays[1].Item2</h6>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="day2-tab" data-toggle="tab" href="#day2" role="tab" aria-controls="day2" aria-selected="false">
                                    <h6>@Model.WeekDays[2].Item1 @Model.WeekDays[2].Item2</h6>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="day3-tab" data-toggle="tab" href="#day3" role="tab" aria-controls="day3" aria-selected="false">
                                    <h6>@Model.WeekDays[3].Item1  @Model.WeekDays[3].Item2</h6>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="day4-tab" data-toggle="tab" href="#day4" role="tab" aria-controls="day4" aria-selected="false">
                                    <h6>@Model.WeekDays[4].Item1  @Model.WeekDays[4].Item2</h6>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="day5-tab" data-toggle="tab" href="#day5" role="tab" aria-controls="day5" aria-selected="false">
                                    <h6>@Model.WeekDays[5].Item1  @Model.WeekDays[5].Item2</h6>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="day6-tab" data-toggle="tab" href="#day6" role="tab" aria-controls="day6" aria-selected="false">
                                    <h6>@Model.WeekDays[6].Item1  @Model.WeekDays[6].Item2</h6>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="row-md m-5">
                        <div class="tab-content" id="printScheduleTabsContent">
                            <div class="tab-pane fade show active" id="today" role="tabpanel" aria-labelledby="today-tab">
                                @for (int i = 0; i < Model.QueuedBatches.Count; i++)
                                {
                                    if (Model.QueuedBatches[i].Status.Equals("2"))
                                    {
                                        <!-- Dispensed Batches Card -->
                                        <div class="col">
                                            <div class="card border-left-success shadow">
                                                <div class="card-body">
                                                    <div class="row no-gutters align-items-center">
                                                        <div class="col-auto">
                                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Dispensed</div>
                                                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.QueuedBatches[i].BatchNumber</div>
                                                        </div>
                                                        <div class="col-auto">
                                                            <i class="fas fa-play-circle fa-2x text-gray-300"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else if (Model.QueuedBatches[i].Status.Equals("3"))
                                    {
                                        <!-- Printing Batches Card -->
                                        <div class="col">
                                            <div class="card border-left-warning shadow">
                                                <div class="card-body">
                                                    <div class="row no-gutters align-items-center">
                                                        <div class="col mr-2">
                                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Printing</div>
                                                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.QueuedBatches[i].BatchNumber</div>
                                                            <div class="h6 mb-0 text-gray-800">@Model.QueuedBatches[i].ETA</div>
                                                        </div>
                                                        <div class="col-auto">
                                                            <i class="fas fa-clock fa-2x text-gray-300"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <!-- Pending Batches Card -->
                                        <div class="col">
                                            <div class="card border-left-danger shadow">
                                                <div class="card-body">
                                                    <div class="row no-gutters align-items-center">
                                                        <div class="col mr-2">
                                                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Pending</div>
                                                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.QueuedBatches[i].BatchNumber</div>
                                                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.QueuedBatches[i].Status</div>
                                                        </div>
                                                        <div class="col-auto">
                                                            <i class="fas fa-pause-circle fa-2x text-gray-300"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }

                            </div>
                            <div class="tab-pane fade" id="day1" role="tabpanel" aria-labelledby="day1-tab">
                                @for (int i = 0; i < Model.QueuedBatches.Count; i++)
                                {
                                    if (Model.QueuedBatches[i].Status.Equals("2"))
                                    {
                                        <!-- Dispensed Batches Card -->
                                        <div class="col">
                                            <div class="card border-left-success shadow">
                                                <div class="card-body">
                                                    <div class="row no-gutters align-items-center">
                                                        <div class="col-auto">
                                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Dispensed</div>
                                                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.QueuedBatches[i].BatchNumber</div>
                                                        </div>
                                                        <div class="col-auto">
                                                            <i class="fas fa-play-circle fa-2x text-gray-300"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else if (Model.QueuedBatches[i].Status.Equals("3"))
                                    {
                                        <!-- Printing Batches Card -->
                                        <div class="col">
                                            <div class="card border-left-warning shadow">
                                                <div class="card-body">
                                                    <div class="row no-gutters align-items-center">
                                                        <div class="col mr-2">
                                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Printing</div>
                                                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.QueuedBatches[i].BatchNumber</div>
                                                            <div class="h6 mb-0 text-gray-800">@Model.QueuedBatches[i].ETA</div>
                                                        </div>
                                                        <div class="col-auto">
                                                            <i class="fas fa-clock fa-2x text-gray-300"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <!-- Pending Batches Card -->
                                        <div class="col">
                                            <div class="card border-left-danger shadow">
                                                <div class="card-body">
                                                    <div class="row no-gutters align-items-center">
                                                        <div class="col mr-2">
                                                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Pending</div>
                                                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.QueuedBatches[i].BatchNumber</div>
                                                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.QueuedBatches[i].Status</div>
                                                        </div>
                                                        <div class="col-auto">
                                                            <i class="fas fa-pause-circle fa-2x text-gray-300"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }

                            </div>
                            <div class="tab-pane fade" id="day2" role="tabpanel" aria-labelledby="day2-tab">
                                @for (int i = 0; i < Model.QueuedBatches.Count; i++)
                                {
                                    if (Model.QueuedBatches[i].Status.Equals("2"))
                                    {
                                        <!-- Dispensed Batches Card -->
                                        <div class="col">
                                            <div class="card border-left-success shadow">
                                                <div class="card-body">
                                                    <div class="row no-gutters align-items-center">
                                                        <div class="col-auto">
                                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Dispensed</div>
                                                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.QueuedBatches[i].BatchNumber</div>
                                                        </div>
                                                        <div class="col-auto">
                                                            <i class="fas fa-play-circle fa-2x text-gray-300"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else if (Model.QueuedBatches[i].Status.Equals("3"))
                                    {
                                        <!-- Printing Batches Card -->
                                        <div class="col">
                                            <div class="card border-left-warning shadow">
                                                <div class="card-body">
                                                    <div class="row no-gutters align-items-center">
                                                        <div class="col mr-2">
                                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Printing</div>
                                                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.QueuedBatches[i].BatchNumber</div>
                                                            <div class="h6 mb-0 text-gray-800">@Model.QueuedBatches[i].ETA</div>
                                                        </div>
                                                        <div class="col-auto">
                                                            <i class="fas fa-clock fa-2x text-gray-300"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <!-- Pending Batches Card -->
                                        <div class="col">
                                            <div class="card border-left-danger shadow">
                                                <div class="card-body">
                                                    <div class="row no-gutters align-items-center">
                                                        <div class="col mr-2">
                                                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Pending</div>
                                                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.QueuedBatches[i].BatchNumber</div>
                                                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.QueuedBatches[i].Status</div>
                                                        </div>
                                                        <div class="col-auto">
                                                            <i class="fas fa-pause-circle fa-2x text-gray-300"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
        </main>

        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Sample Website 2020</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
