@model Web.Models.ViewModels.HomePageModel
@using Web.Models.ViewModels
@{
    ViewData["Title"] = "Index";
}

<partial name="~/Views/Shared/_Navigation.cshtml" for="NavbarModel" />

<main>


    <br />

    <div class="container-fluid">
        <h1 class="mt-4">Dashboard</h1>
        <div class="card text-center">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="index">24hr</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#24">48hr</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#week">Week</a>
                    </li>
                </ul>
            </div>

            <br />

            <!-- Dispensed Batches Card -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Dispensed Batch</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">BATCH ID</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-play-circle fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Printing Batches Card -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-75 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Printing Batches</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">BATCH ID</div>
                                <div class="h6 mb-0 text-gray-800">ETA</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-clock fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Pending Batches Card -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-danger shadow h-50 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Pending Batches</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">BATCH ID</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-pause-circle fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br />

        <div class="container-fluid">
            <div class="card mb-4">
                <div class="card-header bg-primary text-white">
                    <strong>Current Batch Status: @Model.Status</strong>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" data-sort-name="Admin Time">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Patient Name</th>
                                    <th>Ward</th>
                                    <th>Room</th>
                                    <th>Bed</th>
                                    <th>Drug Name</th>
                                    <th>Drug Dose</th>
                                    <th>Admin Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.ODFs.Count; i++)
                                {
                                    <tr>
                                        <td>
                                            <a href="/patient?nurseId=@Model.NurseId&patientId=@Model.ODFs[i].PatientId"
                                               class="btn btn-light" role="button">@Model.ODFs[i].PatientName</a>
                                        </td>
                                        <td>@Model.ODFs[i].PatientWard</td>
                                        <td>@Model.ODFs[i].PatientRoom</td>
                                        <td>@Model.ODFs[i].PatientBed</td>
                                        <td>
                                            <a href="/drug?nurseId=@Model.NurseId&patientId=@Model.ODFs[i].PatientId&prescriptionId=@Model.ODFs[i].PrescriptionId"
                                               class="btn btn-light" role="button">@Model.ODFs[i].MedicationName</a>
                                        </td>
                                        <td>@Model.ODFs[i].Dosage mg</td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <br />

        <div class="container-fluid">
            <div class="card mb-4">
                <div class="card-header bg-primary text-white">
                    <strong>Pending Batches</strong>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" data-sort-name="Admin Time">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Batch</th>
                                    <th>Status</th>
                                    <th>ETA</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @Model.BatchNumber
                                    </td>
                                    <td>
                                        @Model.Status
                                    </td>
                                    <td>
                                        @Model.ETA
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; Sample Website 2020</div>
            <div>
                <a href="#">Privacy Policy</a>
                &middot;
                <a href="#">Terms &amp; Conditions</a>
            </div>
        </div>
    </div>
</footer>


